.Table {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    overflow-y: scroll;
}
.Table::-webkit-scrollbar{
    position: fixed;
    width: 8px;
  }
.Table::-webkit-scrollbar-track{
    position: fixed;
    background: #ffffff;
    border-radius: 4px;
}
.Table::-webkit-scrollbar-thumb{
    position: fixed;
    background: #e5e6e9;
    border-radius: 4px;
}
.Table::-webkit-scrollbar-thumb:hover{
    background: #b3b3b3;
}
.Table__item {
    display: grid;
    grid-template-columns: 50px 150px 70px 70px 70px 70px 1fr 75px 100px;
    grid-auto-rows: 50px;
    grid-gap: 10px;
}